nav.wy-nav-side, div.wy-side-nav-search,
div.ethical-dark-theme .ethical-sidebar,
div.rst-versions .rst-current-version {
	background: #efefef;
}

div.wy-side-nav-search > a img.logo {
	margin: 40px auto;
}

div.wy-menu-vertical p.caption {
	color: #304c8e;
}

div.wy-menu-vertical a {
	color: #404040;
}

div.wy-menu-vertical a:hover {
	background-color: #ffffff;
}

.rst-content div[class^=highlight], .rst-content pre.literal-block {
	border-radius: 5px;
    background: #efefef;
}

.admonition note {
	border-radius: 5px;
}

.admonition-title {
	border-radius: 5px 5px 0 0;
}

div.rst-versions span.rst-current-version {
	color: #344f90;
}

div.rst-versions span.fa {
	color: #404040!important;
}